<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/nz"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="nz.ac.massey.cs.pp.ass1.id19023254.CSVSorter"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;students.csv&quot; &quot;by_id.csv&quot; &quot;by_id&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="nz.ac.massey.cs159272.ass1.id19023254"/>
</launchConfiguration>
